@model Allocations.Models.Specs.Budget
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h1>@Model.Name</h1>
        @foreach (var fundingPolicy in Model.FundingPolicies)
        {
            <h2>@fundingPolicy.Name</h2>
             foreach (var allocationLine in fundingPolicy.AllocationLines)
             {
                 <h3>@allocationLine.Name</h3>
                 foreach (var productFolder in allocationLine.ProductFolders)
                 {
                     <h4>@productFolder.Name</h4>
                     foreach (var product in productFolder.Products)
                     {
                         <h4>@product.Name</h4>
                         <p>@product.Description</p>
                         <p><a class="btn btn-default" href="@Url.Action("Product", new { id = product.Id})">Edit &raquo;</a></p>
                     }
                 }
             }
        }


    </div>
  
</div>