@page
@model CalculateFunding.Editor.FundingDataZone.Pages.ProviderSnapshots.IndexModel
@{
}

<div class="text-right spacing-m">
    <a class="btn btn-info" asp-page="/ProviderSnapshots/CreateProviderSnapshot">Add provider snapshot</a>
</div>


@if (Model.Snapshots.Any())
{
    <table class="table">
        <thead>
            <tr>

                <th>Id</th>
                <th>Name</th>
                <th>Target date</th>
                <th>Version</th>
                @if (!Model.FilteredByFundingStream)
                {
                    <th>Funding stream</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var snapshot in Model.Snapshots)
            {
            <tr>
                <td>@snapshot.ProviderSnapshotId</td>
                <td>@snapshot.Name</td>
                <td>@snapshot.TargetDate.ToString("dd MMMM yyyy")</td>
                <td>@snapshot.Version</td>
                @if (!Model.FilteredByFundingStream)
                {
                    <td>@snapshot.FundingStreamCode</td>

                }
                <td><a asp-page="/ProviderSnapshots/ProviderSnapshotDetails" asp-route-providerSnapshotId="@snapshot.ProviderSnapshotId">Edit</a></td>
                <td><a asp-controller="Clone" asp-action="Clone" asp-route-providerSnapshotId="@snapshot.ProviderSnapshotId" asp-route-cloneName="@(snapshot.Name + @"_Clone")">Clone</a></td>
            </tr>
            }
        </tbody>
    </table>

}
else
{
    <p class="alert alert-info">No provider snapshots exist in this environment</p>
}
